.battary{
    width: 200px;
    height: 80px;
    border: 3px solid black;
    margin: 30px;
    position: relative;



    &::after{
        content: '';
        width: 15px;
        height: 35px;
        background-color: black;
        position: absolute;/*позиция элемента*/
        top: calc(50% - 17px);/* 50% высота батарейки - высоту контакта/2 ; ось x */
        right: -15px;/*ось  y*/
    }

    &::before{
        content: '';
        height: 100%;/* высота родителя*/
        width: 35%;
        position: absolute;
        left: 0;/* если нет значений занулять */
        top: 0;/* если нет значений занулять */
        background: linear-gradient(to right, red, green);
    }

}


@mixin flexalich($hor: center, $vert:center, $pos:row) {/*миксин; (значение можно менять в скобках, указываються через $)*/
    display: flex;
    justify-content: $hor;/*горизонталь*/
    align-items: $vert;/*вертикаль*/
    flex-direction: $pos;

}


.menu{
@include flexalich(flex-start);/* вызов миксина*/


    &__item{
        width: 120px;
        height: 50px;
        background: linear-gradient( to right,orange,lightblue);
       @include flexalich();
       clip-path: polygon(0 0, 80% 0,100% 50%, 80% 100%, 0 100%);/*управляет точками сначала x ,y*/
       padding-right: 15px;
       box-sizing: border-box;
       position: relative;/*left*/
       transition: 0.3s;
       cursor: pointer;
       user-select: none;/*запрет на выделение текста*/
    //    filter: blur(1px);/*размытие элемента*/
    


       &:hover{
           z-index: 3;
           transform: scale(1.2);
           padding-right: 15px;
           animation-name: buttonAnimation;
           animation-duration: 2s;/*от одного края до другого анимация продолжительность анимации*/
        //    animation-delay: 1s;/*задержка*/
           animation-iteration-count: infinite;/*постонное повторение*/

       }

       &_first{/*1й элемент в группе */
           z-index: 2;


       }

       &_second{/*2й элементв группе*/
        left: -24px;
        z-index: 1;
        padding-right: 0;


       }
       &_third{/*3й элемент в группе*/
        left: -48px; 
        padding-right: 0;
       }


       &:first-child{/*первый элемент в наборе*/
        left: 0;

       }

       &:last-child{/* всегда последний элемент в наборе*/
           left: -48px;
       }
    }
}

@keyframes buttonAnimation{/*сложная анимация*/
    0%{/*от начала анимации*/
        transform: rotate(-20deg);/*градусы поворота*/

    }
    50%{
        transform: scale(20deg);
    }
    70%{
        transform: scale(2);
    }

   100%{//*конец анимации*/
        transform: rotate(20deg);


    }

}


.container{
    width: 100%;
    border: 2px solid green;
    box-sizing: border-box;
    padding: 10px;
    @include flexalich(space-between );



    @media screen and (max-width: 1024px) {
        flex-wrap: wrap;/*разрешить перенос элементов на другой ряд*/
        padding-bottom: 0;/*отступ элемента от нижнего края*/
    }

    @media screen and (max-width: 768px) {
        flex-wrap: nowrap;/*разрешить перенос элементов на другой ряд*/
        padding-bottom: 0;
        flex-direction: column;
    }
    &__item{
        height: 60px;
        width: 100%;/*ширина*/
        background-color: blue;
        color: white;
        font-size: 30px;
        font-weight: bold;
        @include flexalich( );
        margin-right: 10px;



        @media screen and (max-width: 1024px) {
          width: 49%;
          margin-right: 0;
          margin-bottom: 10px;/*по вертикали*/


        }

        @media screen and (max-width: 768px) {
          width: 100%;
        }



        &:last-child{
            margin-right: 0;
        }

    }
}















